<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Clothes</title>
</head>

<body style="background-color:burlywood">

    <%- include('partials/header'); %>

    <div class="container">
        <div class="text-center">
            <h1>List All Articles</h1>
            <br>
            <a href="/add"><button class="btn btn-primary">Add Post</button></a>
        </div>
        <div>
            <h2 class="mt-5 mb-5 text-left">Newest Posts</h2>
            <% posts.forEach(post => {%>
            <div class="card mb-5">
                <h4 class="card-header text-center"><%= post.title %></h4>
                <div class="card-body">
                    <h5 class="card-title"><%= publishedTime(post.updatedAt) %></h5>
                    <div class="text-center">
                        <img src="<%= post.imageURL %>" alt="" width="500" height="500">
                    </div>
                    <p> <%= post.cutText()%> <a href="/details/<%= post.id %>"> Read more... </a> </p>
                </div>
                <div class="card-footer">
                    <a href="/delete/<%= post.id %>"><button class="btn btn-danger">DELETE</button></a>
                    <a href="/edit/<%= post.id %>"><button class="btn btn-dark">EDIT</button></a>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</body>

</html>